Source: openmediavault-developer
Section: misc
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9 )
Standards-Version: 3.9.6
Homepage: http://omv-extras.org/

Package: openmediavault-developer
Architecture: all
Depends: ${misc:Depends}, fakeroot, build-essential, devscripts, git,
 debhelper, openmediavault (>= 3), sshpass, transifex-client,
 subversion, equivs, curl, php5-curl
Description: OpenMediaVault Developer plugin
 Plugin to help developer download/ plugin code and setup system for
 plugin development.
