Source: openmediavault-developer
Section: misc
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9 )
Standards-Version: 3.9.6
Homepage: http://omv-extras.org/

Package: openmediavault-developer
Architecture: all
Depends: build-essential,
         curl,
         debhelper,
         devscripts,
         dh-systemd,
         equivs,
         fakeroot,
         git,
         libfile-fcntllock-perl,
         openmediavault (>= 3.0.24),
         php5-curl,
         quilt,
         sshpass,
         transifex-client,
         ${misc:Depends}
Description: OpenMediaVault Developer plugin
 Plugin to help developer download/ plugin code and setup system for
 plugin development.
