Source: openmediavault-developer
Section: misc
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9 )
Standards-Version: 3.9.6
Homepage: http://omv-extras.org/

Package: openmediavault-developer
Architecture: all
Depends: build-essential,
         curl,
         debhelper,
         devscripts,
         dh-systemd,
         equivs,
         fakeroot,
         git,
         libfile-fcntllock-perl,
         omvextras-netrc,
         openmediavault (>= 4.0.4),
         php7.0-curl,
         quilt,
         sshpass,
         transifex-client,
         ${misc:Depends}
Breaks: openmediavault (<< 4.0)
Description: OpenMediaVault Developer plugin
 Plugin to help developer download/ plugin code and setup system for
 plugin development.
